@page "/"

<div class="container-fluid">
    <div class="row" style="margin-top:5vh;margin-bottom:5vh">
        <div class="col-sm-5">
            <div class="row ms-3">
                <div class="col-sm">
                    <picture>
                        <source srcset="images/linechart.png" />
                        <img src="~/images/linechart.png" class="img-fluid border border-secondary border-rounded border-3 shadow p-3 mb-5 bg-body-tertiary rounded" />
                    </picture>
                </div>
            </div>
            <div class="row ms-3">
                <div class="col-sm">
                    <picture>
                        <source srcset="images/barchart.png" />
                        <img src="~/images/barchart.png" class="img-fluid border border-secondary border-rounded border-3 shadow p-3 mb-5 bg-body-tertiary rounded" />
                    </picture>
                </div>
            </div>
        </div>
        <div class="col-sm-7" >
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-right:5vw;margin-left:3vw;">
                <h1 class="card-header fw-bold" style="background-color:teal;color:white;">Welcome!</h1>
                <div class="card-body">
                    <p class="mt-1 fw-bold text-dark p-2" style="text-justify:inter-word;text-align:justify;font-size:1.4em;">
                    This is a simulator of car scales. Here you can watch on the weighing process in live time.
                    There is also a simulation of counting the number of axles and their loads. Each weighing is
                    entered into the journal and any time you can inspect the sequence of the weighing operations
                    according to the date you choose. Also there is a an opportunity to lead a reference book with
                    all data about the cars you ever been weighed or are going to. Enjoy yourself.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
