<div class="container ms-4">
    <h2 class="text-center">Current weight</h2>
    <div class="d-flex justify-content-center">
        <div class="badge text-wrap text-end" style="width:50%;background-color:#134e4a"><i style="font-weight:bold;color:white;font-size:2rem;">@CurrentWeight</i></div>
    </div>

    <div class="row mt-2">
        <div class="col-sm">
            <form class="d-flex flex-column">
                <div class="form-group">
                    <div>
                        <label class="form-label" style="font-weight:bold;font-size:1.2rem"><i class="fa fa-solid fa-car"></i>&nbsp;Car brand</label>
                    </div>
                    <input class="form-control" @bind-value="Transport.Brand" readonly style="font-weight:bold;font-size:1.4rem;color:grey" />
                </div>
                <div class="form-group">
                    <div>
                        <label class="form-label" style="font-weight:bold;font-size:1.2rem"><i class="fa fa-solid fa-car-rear"></i>&nbsp;Car plate</label>
                    </div>
                    <input class="form-control" @bind-value="Transport.CarPlate" readonly style="font-weight:bold;font-size:1.4rem;color:grey" />
                </div>
                <div class="form-group">
                    <div>
                        <label class="form-label" style="font-weight:bold;font-size:1.2rem"><i class="fa fa-solid fa-trailer"></i>&nbsp;Cargo</label>
                    </div>
                    <input class="form-control" @bind-value="Transport.Cargo" readonly style="font-weight:bold;font-size:1.4rem;color:grey" />
                </div>
                <div class="form-group">
                    <div>
                        <label class="form-label" style="font-weight:bold;font-size:1.2rem"><i class="fa fa-solid fa-truck"></i>&nbsp;Number of axles</label>
                    </div>
                    <input type="number" class="form-control" @bind-value="Transport.NumberOfAxles" readonly style="font-weight:bold;font-size:1.4rem;color:grey" />
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm">
            <div class="d-flex flex-column mt-4">
                <button class="btn" @onclick="() => GetTransport()" disabled="@GetTransportDisabled" style="font-weight:bold;font-size:2rem;
                    background-color:#059669">
                    Get Transport
                </button>
                <button class="btn btn-secondary mt-2" @onclick="async() => await BeginWeighingAsync()" disabled="@StartWeighingDisabled"
                        style="font-weight:bold;font-size:2rem">
                    Start Weghing
                </button>
                <button class="btn btn-secondary mt-2" @onclick="async() => await SaveWeighingAsync()" disabled="@SaveWeighingDisabled"
                        style="font-weight:bold;font-size:2rem">
                    Save Weighing
                </button>
            </div>
        </div>
    </div>


</div>

@code {
    [Parameter]
    public TransportToWeigh Transport { get; set; } = new();
    [Parameter]
    public string CurrentWeight { get; set; } = "0.00";
    [Parameter]
    public Action GetTransport { get; set; }
    [Parameter]
    public Func<Task> BeginWeighingAsync { get; set; }
    [Parameter]
    public Func<Task> SaveWeighingAsync { get; set; }
    [Parameter]
    public bool GetTransportDisabled { get; set; }
    [Parameter]
    public bool StartWeighingDisabled { get; set; }
    [Parameter]
    public bool SaveWeighingDisabled { get; set; }
}
